.form{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.firstline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .firstline h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .firstline button {
    margin-left: auto;
    height: 40px;
  }