/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 1px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-tab-labels{
    justify-content: space-evenly;
}